doctype html
html
    head
        meta(charset='utf-8')
        title= "Mädels-Wichteln"
    body
        h1 Hi #{userName},
        h2 Du darfst dieses Jahr #{partner} beschenken.
        h2 Viel Spaß und eine schöne Weihnachtszeit =)